.contentMain{
    margin: 60px 0;

    .wrapperMain{
        display: flex;
        flex-direction: row;
        gap: 47px;
    }
}

@media screen and (max-width: 979px) {
    .contentMain{
        .wrapperMain{
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}

@media screen and (max-width: 700px) {
    .contentMain{
        .wrapperMain{
            gap: 32px;
        }
    }
}