$redColor: rgba(240, 93, 99, 1);
$redColor2: rgba(240, 93, 99, .4);

.userProfile{
    max-width: 350px;
    width: 100%;
    position: relative;

    .personalInfoContent{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 24px;
        margin-bottom: 32px;

        .userInfo{
            .name{
                font-family: 'Montserrat';
                font-size: 24px;
                font-weight: 600;
                line-height: 26px;
                margin-bottom: 8px;
            }

            .username{
                font-size: 16px;
                font-weight: 400;
                line-height: 20px;
                letter-spacing: -0.5px;
                margin-bottom: 16px;
            }

            .editUser{
                display: flex;
                align-items: center;
                color: $redColor;
                cursor: pointer;
                transform: .25s linear;

                img{
                    margin-right: 8px;
                }

                p{
                    text-decoration: underline;
                }
            }
        }
    }

    .statsContent{
        margin-bottom: 24px;

        .statsList{
            display: flex;
            gap: 48px;
            align-items: center;
            list-style-type: none;
            text-align: center;

            .statsListItem{
                .values{
                    font-size: 18px;
                    font-weight: 700;
                    line-height: 24px;
                }

                .name{
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;
                }
            }
        }
    }

    .bioContent{
        .bio{
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            text-align: left;
        }
    }

    .settings{
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
    }
}

@media screen and (max-width: 979px) {
    .userProfile{
        .statsContent .statsList{
            justify-content: center;
        }
    }
}