.contentHeader{
    background-color: #fff;
    box-shadow: 0px 12px 12px 0px rgba(0, 0, 0, 0.06);

    .wrapperHeader{
        padding-top: 20px;

        .topContent{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 17px;
    
            .logoContainer{
                width: 50px;
                height: 23px;
            }
        
            .profile{
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 17px;
        
                .user{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 15px;
        
                    .userAvatar{
                        width: 32px;
                        height: 32px;
                        border-radius: 50%;
                    }
        
                    .downArrow{
                        cursor: pointer;
                    }
                }
        
                .iconsContainer{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    
                    .icon{
                        cursor: pointer;
                    }
                }
            }
        }

        .bottomContent{
            position: relative;
            .actionButton{
                position: absolute;
                bottom: -32px;
                right: 0;
                width: 64px;
                height: 64px;
                background: linear-gradient(135deg, #FF974F 0%, #E32C75 100%);
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;

                p{
                    font-size: 40px;
                    font-weight: 200;
                    color: #fff;
                }
            }
        }
    }
}

@media screen and (max-width: 400px) {
    .contentHeader{
        .wrapperHeader .topContent .profile .user{
            font-size: 14px;
        }
    }
}